@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Protest+Riot&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Protest Riot", sans-serif;

}
html,body{
    height: 100%;
    width: 100%;
    background-color: #181717;
}
.container{
    display: flex;
    /* padding-top: 10%; */
    justify-content: center;
}
.todoBanner{
    padding: 10px 10px 30px;
    width: 500px;
}
#todo::placeholder{
    color: grey;;
}
#todo{
    height: 30px;
    width: 90%;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #436850;
    color: whitesmoke;
    background: #2e2e2e;
}
.btn{
    height: 30px;
    width: 10%;
    border: 1px solid #436850;
    background-color: #436850;
    font-size: 20px;
    color: #FBFADA;
}
.btn:hover{
    background-color: #FBFADA;
    color: #436850;
    font-size: 20px;
}
form{
    padding: 10px;
    display: flex;
    gap: 5px;
}
.todoBanner>ul{
    padding: 10px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.todoBanner>ul>li{
    list-style: none;
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 3px;
}
.btn-todo{
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #fff;
    transition: all 0.25s linear;
    font-size: 20px;
    border: 1px solid red;
    
}
.btn-todo:hover{
    color: red;
    background-color: transparent;
}
.title{
    text-align: center;
    padding-top:200px;
    padding-bottom: 20px;
    color: #FBFADA;
    font-family: "Great Vibes", cursive;
    font-size: 50px;
}
.list{
    color: #fff;
}