@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
#root{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordion-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.accordion-container h1{
    text-align: center;
    font-size: 50px;
}
.accordion-container>button{
    border: 1px solid purple;
    padding: 5px;
    margin:5px ;
    color: purple;
    font-weight: bold ;
}
.accordion-container>button:hover{
    background-color: darkmagenta;
    color:white;
}
.accordion-container .active{
    background-color: rgb(128, 0, 90);
    color: white;
}
.accordion-container ul{
    width: 100%;
}
.accordion{
    display: flex;
    flex-direction: column;
    
    margin: 20px 0px; 
}
.accordion>div{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.accordion .title{
    background-color: rgba(103, 5, 156, 0.939);
    color: white;
    font-weight: bold;
}
.accordion .content{
    background-color: rgba(185, 76, 243, 0.538);
    padding: 3px;
}